.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ff6347; */
    /* background-color: #2196F3; */
    background-color:black;

    z-index: 999999;
    }


    .spinner {
        /* margin: 100px auto; */
        position: absolute;
        top: 48%;
        left: 48%;
        width: 140px;
        height: 40px;
        position: relative;
      }
      
      .cube1, .cube2 {
        /* background-color: #333; */
        background-color: white;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        
        -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
        animation: sk-cubemove 1.8s infinite ease-in-out;
      }
      
      .cube2 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      
      @-webkit-keyframes sk-cubemove {
        25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
        50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
        75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
        100% { -webkit-transform: rotate(-360deg) }
      }
      
      @keyframes sk-cubemove {
        25% { 
          transform: translateX(42px) rotate(-90deg) scale(0.5);
          -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        } 50% { 
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        } 50.1% { 
          transform: translateX(42px) translateY(42px) rotate(-180deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% { 
          transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% { 
          transform: rotate(-360deg);
          -webkit-transform: rotate(-360deg);
        }
      }



       h5 {
        position: relative;
        /* color: rgba(0, 0, 0, .3); */
       
        color: #FFF;
        /* font-size: 1em; */
    }
    h5:before {
        content: attr(data-text);
        position: absolute;
        overflow: hidden;
        max-width: 7em;
        white-space: nowrap;
 
        color: #2196F3;
        animation: loading 2s linear;
    }
    @keyframes loading {
        0% {
            max-width: 0;
        }
    }